body{
  background: #f2f7ff;
}
.container{
    max-width: 960px;
    margin: 0px auto;
}
.header{
  background: #fff;
    height: 90px;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-right: 50px;
}
.logo{
    height: 60px;
    float: left;
    margin-top: -100px;
    margin-bottom: 2px;
    margin-left: -400px;
    padding-bottom: -2.5cm;
    padding-left: 3cm;
}
.logo2{
  float: center;
  float: top;
  text-align: center;
  text-align: top;
  margin-top:  -50px;
  padding-top: 2px;
}
.menu>.fb>a:hover{
color: #3460d8;
}
.fb{
  padding-left: 30px;
  padding-top: 20px;
  border: none;
  background: none; 
  display: block;
}
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  
}
.menu>li>a{
   color: #222;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 30px;
}
.menu>li>a:hover{
  color: #3460d8;
}
.search {
     width: 100%; 
    position: relative;
    display: flex;
    margin-top: -230px;
  }
  
  .searchTerm {
    width: 100%;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    background-color:#fff;
    border-left: black;
    border-bottom: black;
    border-top: black;
  }
  
  .searchTerm:focus{
    color: black;
  }
  
  .searchButton {
    width: 100px;
    height: 32.5px;
    background-color:#fff;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    border: none;
  }
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2cm;
    float: center;
  }
.h1{
    font-size: 24px;
    line-height: 100px;
    color: #11142d;
    margin-left: -500px;
    margin-top: -10px;
}
.h1 span{
  color: #3460d8
}

.seemore{
  border: solid 1px black;
  border-radius: 20px;
  margin-right: -450px;
  margin-top: -70px;
  padding-left: 10px;
  padding-right: 10px;
  float: right; 
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-decoration: none;
  
}
.seemore:hover{
  background-color: blue;
  color: white;
  text-shadow: 2px white;
  

}
.card{
  padding-left: 2cm;
}
.card1{
  width: 13%;
  float: left;
  padding-left: 1.1cm;
  border-radius: 20px;
  transition: all 1s;
}
.card1:hover{
background-position: center;
background-size: 100%;
filter: grayscale(0);
transform: scale(1.05); transform: scale(1.05);
}
.card1>span{
  float: left;
  text-align: center;
  padding-left: 2cm;
  margin-top: 30px;
}
.card1>span:hover{
  color: #3460d8;
}
.card1>a>img{
  border-radius: 20px;
  text-align: center;
}
.card1>a>img{
  border-radius: 20px;
}
.card1>img.nuoc{
  margin-left: -1cm;
}
.card12{
  width: 13%;
  float: left;
  padding-left: 1.1cm;
  border-radius: 20px;
  transition: all 1s;
}
.card12:hover{
background-position: center;
background-size: 100%;
filter: grayscale(0);
transform: scale(1.05); transform: scale(1.05);
}
.card12>span{
  float: left;
  text-align: center;
  padding-left: 2cm;
  margin-top: 30px;
}
.card12>span:hover{
  color: #3460d8;
}
.card12>a>img{
  border-radius: 20px;
  text-align: center;
}
.card12>a>img{
  border-radius: 20px;
  border: solid 1px gray;
    border-radius:50%;
    -moz-border-radius:50%;
   -webkit-border-radius:50%;
   background-color: gray; 
}
.card12>img.nuoc{
  margin-left: -1cm;
}
.
.nentop{
  background: #fff;
    height: 500px;
}
.h11{
  font-size: 24px;
    line-height: 100px;
    color: #11142d;
    margin-top: 10px;
    margin-left: -50px;
}
.h11 span{
  color: #3460d8
}
.gaming{
  font-size: 24px;
    line-height: 100px;
    color: #11142d;
    padding-right: 2cm;
}
.gaming span{
  color: #3460d8
}

.chuot{
  padding-top: 10cm;
}.top5{
  font-size: 40px;
  float: left;
  margin-left: -200px;
  margin-top: -10px;
}
.khungtop5{
  float: top;
  margin-top: -22px;

}
.top1{
  font-size: 18px;
  float: left;
  margin-left: -200px;
  margin-top: -10px;
}
.khungtop1{
  float: top;
  margin-top: -22px;
}
.logi{
  float: top;
  float: left ;
  margin-top: 55px;
  margin-left: -200px;
}
.logi:hover{
  transform: scale(1.5); transform: scale(1.05);
}
.khungtop2{
float: top ;
float: left;
margin-top: -22px;
margin-left: -2px;
}
.top2{
  font-size: 18px;
  float: left;
  margin-left: -200px;
  margin-top: -10px;
}
.logi2{
  float: top;
  float: left ;
  margin-top: 65px;
  margin-left: -150px;
}
.logi2:hover{
  transform: scale(1.5); transform: scale(1.05);
}
.khungtop3{
float: top ;
float: left;
margin-top: -22px;
margin-left: -2px;
}
.top3{
  font-size: 18px;
  float: left;
  margin-left: -200px;
  margin-top: -10px;
  padding-left: 28px;
}
.ec2{
  float: top;
  float: left ;
  margin-top: 65px;
  margin-left: -150px;
}
.ec2:hover{
  transform: scale(1.5); transform: scale(1.05);
}
.khungtop4{
  float: top ;
  float: left;
  margin-top: -22px;
  margin-left: -2px;
  text-align: center;
  }
  .top4{
    font-size: 18px;
    float: left;
    margin-left: -200px;
    margin-top: -10px;
  }
  .razer{
    float: top;
    float: left ;
    margin-top: 65px;
    margin-left: -200px;
  }
  .razer:hover{
    transform: scale(1.5); transform: scale(1.05);
  }
  .khungtop6{
    float: top ;
    float: left;
    margin-top: -22px;
    margin-left: -2px;
    text-align: center;
    }
    .top6{
      font-size: 18px;
      float: left;
      margin-left: -200px;
      margin-top: -10px;
      padding-left: 35px;
    }
    .m4{
      float: top;
      float: left ;
      margin-top: 65px;
      margin-left: -150px;
    }
    .m4:hover{
      transform: scale(1.5); transform: scale(1.05);
    }
    .menuchuot{
      padding-left: 100px;
    }
    .cuoitrang{
      text-align: center;
      clear: both;
      background: #fff;
      color: rgb(16, 16, 16);
      border-color: rgb(31,30,39);
      border-radius: 5px 5px 5px 5px;
      border: 3cm;
      padding-top: 30px;
      height: 250px;
      margin-top: 400px;
    }
    .cuoitrang>p>a{
      text-decoration: underline;
      color: black;
    }
    .logocuoitrang{
      margin-top: -100px;
      margin-left: -34cm;
    }
    .menucuoitrang{
     margin-top: -150px;
     margin-left: 400px;
     list-style: none;  
     line-height: 22px;
     font-weight: 400;
     text-align: justify;
    }
    .menucuoitrang2{
      padding-right: 200px;
      margin-left: 700px;
      list-style: none;
      margin-top: -240px;
      text-align: justify;
      
    }
    .menucuoitrang3{
      padding-left: 250px;
      margin-left: 800px;
      list-style: none;
      margin-top: -220px;
      text-align: justify;
    }
    .menucuoitrang>li>a{
      text-decoration: none;
      color: #222;
    }
    .menucuoitrang2>li>a{
      text-decoration: none;
      color:#222
    }
    .menucuoitrang3>li>a{
      text-decoration: none;
      color: #222;
    }
  .gioithieu{
    float: top;
    margin-top: -130px;
    margin-left: -30px;
    font-size: 18px;
    text-align: justify;
  }
  .fb2>a{
    float: left;
    margin-left: 10px;
    margin-top: 50px;
  }
  
